// Vertical rhythm settings
// ------------------------------------------------
$vertical-spacing-unit: 20;

// Grid settings applied for the bourbon neat library
// ------------------------------------------------
$column: 70px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1200px;

// Mixin vars
// ------------------------------------------------

// Colour palette
// ------------------------------------------------
$brand-color: (

);

// Main Typographic Heading sizes
// ------------------------------------------------
$typography: (
    'base-font-size': 16,
    'heading-one': 90,
    'heading-two': 72,
    'heading-three': 60,
    'heading-four': 48,
    'heading-five': 36,
    'heading-six': 24
);

$base-font-size: map-get($typography, 'base-font-size');

// Common breakpoints
// ------------------------------------------------
$breakpoints: (
    'small': (480 / $base-font-size) * 1rem,
    'medium': (770 / $base-font-size) * 1rem,
    'large': (1200 / $base-font-size) * 1rem
);

