// ------------------------------------------------
// Cross browser support settings
// ------------------------------------------------
$lt-ie10: true !default;
$lt-ie9: false !default;
$media-queries: true;

// Globally available variables and sass maps
@import 'config';

// The core contains everything except variables and sass maps used
// throughout the theme. See the core partials table of contents for
// more information.
// ------------------------------------------------
@import 'core';
